$background: red;
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
}
.full{
    height: 100vh;
    background: $background;
    display: grid;
    place-items: center;

}
#parallax{
    padding: 40vh 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .parallax-element{
        position: relative;
        height: 300px;
        width: 300px;
    }
    .first{
        background: green;
        top: 50px;
        right: 100px;
    }
    .second{
        background: blue;
    }
    .third{
        background: orange;
        bottom: 50px;
        left: 100px;
    }
}

#scroll{
    padding: 20vh 0;
    display: grid;
    place-items: center;

    h1{
        opacity:0;
        transform: rotate(180deg);
        transition: all .2 linear;
    }
    &.visible{
        opacity: 1;
    }
}